.DS_Store
.idea/
**/bin/
**/target/
*.dSYM
*.class
*.bin
*.out
.classpath
.project
MathPlot/plot.png
**/node_modules/
**/dist/
**/build/
**/__pycache__/
**/venv/
**/.coverage
**/coverage/
**/htmlcov/
